.about-section{
    background-color: #f9f3ee;
    height:150vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
}
.statistic{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #212531;
    width: 70%;
    /* gap: 50px; */
    height: 30vh;
   
}

.content{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: red; */
    width:90%;
    position:relative;
    top:70px;
}

.content .image-container{
    display: flex;
}

.small-icon{
    font-size: 16px;
}