.about-section{
    background-color: #f9f3ee;
    height:auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

.about-heading{
    flex: 1;
    padding-left: 10px;
}
.about-sub-heading{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
.about-heading h3{
    font-weight: 600;
    font-family: "Bree Serif";
    color: #34639b;
    font-size: 35px;
}


.about-desc{
    flex: 1;
    padding-right: 10px;
}

.about-desc p{
    color: #000;
    font-size: 16px;
    line-height: 25px;
}




.statistic{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #212531;
    width: 70%;
    /* gap: 50px; */
    height: 30vh;
   
}

.content{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: red; */
    width:90%;
    position:relative;
    top:70px;
}

.content .image-container{
    display: flex;
}

.about-image{
    height:80vh;
    width:90%
}

.about-image-two{
   height:60vh;
   width:90%
}

.small-icon{
    font-size: 16px;
}

.about-text{
   max-width:50%
}
.number{
    font-size: 60px;
    color: white;
}
.statistic-name{
    font-size: 20px;
    color: white;
}
@media(max-width:360px){
    .statistic{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #212531;
        width: 95%;
        /* gap: 50px; */
        height: 15vh;
       
    }

    .number{
        font-size: 20px;
        color: white;
    }
    .statistic-name{
        font-size: 10px;
        color: white;
    }

    .content{
        display: flex;
        flex-direction: column;
    }
    .about-image{
        height:50vh;
        width:100%
    }
    .about-image-two{
        height:30vh;
        width:100%
     }
     .about-text{
        max-width:100%;
        margin-top: 40px;
    
     }
     .about-section-image{
        width: 100%;
     }

}


@media (max-width: 430px) {
    .statistic{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #212531;
        width: 95%;
        /* gap: 50px; */
        height: 15vh;
       
    }

    .number{
        font-size: 20px;
        color: white;
    }
    .statistic-name{
        font-size: 10px;
        color: white;
    }

    .content{
        display: flex;
        flex-direction: column;
    }
    .about-image{
        height:50vh;
        width:100%
    }
    .about-image-two{
        height:30vh;
        width:100%
     }
     .about-text{
        max-width:100%;
        margin-top: 40px;
    
     }
     .about-section-image{
        width: 100%;
     }
    
  }