.navbar{
    display: flex;
    background-color: #f9f3ee;
    justify-content: space-around;
    height: 80px;
}



.border {
    border-bottom: solid 2px black;
    transition: ease 1.5s;

}

.navbar .nav-links{
    display: flex;
    /* background-color: white; */
    width: 40%;
    justify-content: space-between;
    align-items: center;
}


.navbar .nav-logo .image{
    width: 100%;
    height: 100%;
}

.nav-mobile{
    display:flex;
    justify-content:'center';
    align-items:center;
    display: none;
}


@media (max-width: 360px) {
    .navbar .nav-links{
        display: none;
    }

    /* .nav-logo{
        display: none;
    } */
    .nav-mobile{
        display: flex;
    }
    
  }

  @media (max-width: 430px) {
    .navbar{
        justify-content: space-between;
        padding: 0 10px;
    }
    .navbar .nav-links{
        display: none;
    }

    /* .nav-logo{
        display: none;
    } */
    .nav-mobile{
        display: flex;
    }
    
  }