.order-section{
    padding: 30px 70px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background-color: #f9f3ee;
    

}

.order-heading{
        font-family: "Bree Serif",  Sans-serif;
        color: #34639b;
    
}


@media(max-width: 360px){
    .order-section {
        padding: 0px 14px;
      
    }
    .order-heading{
        font-size:18px;

    }
    .order-content{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .order-text{
        max-width: 100%;
    }
    .prograss-wrapper{
        width:100%;
        margin-top: 30px;
        gap: 30px;
     }
}


@media(max-width: 430px){
    .order-section {
        padding: 0px 14px;
      
    }
    .order-heading{
        font-size:18px;

    }
    .order-content{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .order-text{
        max-width: 100%;
    }
    .prograss-wrapper{
        width:100%;
        margin-top: 30px;
        gap: 30px;
     }

}