.post-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: space-; */
    /* align-items: center; */
    width: 350px;
    height: auto;
    gap: 19px;
    margin-top: 50px;
    cursor: pointer;
    padding-bottom: 50px;
}

.post-container .post-image{
    width: 350px;
    height: 200px;
}

@media(max-width: 360px){
    .post-container {
        width: 330px;
    }
    .post-container .post-image {
        width: 330px;
        
    }

    .swiper-pagination{
        margin-top: -50px;
    }
}