.service-section{
    height:auto;
    /* padding-left:40px; */
    padding-top:50px;
    display:flex;
    flex-direction:column;
    gap:80px;
    padding-Bottom:20px;
    background-color: white;
}

.service-section .service-section-wrapper {
    background-image: linear-gradient(to bottom left, hsla(190, 100%, 82%, 0.379), hsla(190, 100%, 82%, 0.758), hsl(190, 100%, 82%) 70%), 
                      url('../assets/images/our-service-bg.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    padding: 80px 0px;
}

.service-section .service-section-wrapper .services{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.service-section .service-section-wrapper .service{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.684), rgba(0, 0, 0, 0.188)), 
    url('../assets/images/service-img-3.jpg');
height: 300px;
    width: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    margin-top: 40px;
    display: flex;
    justify-content: end;
    align-items: end;
    overflow: hidden;
    
}

.service-section .service-section-wrapper .service:hover  .service-content{
    margin-bottom: 0px;
}

.service-section .service-section-wrapper .service .service-content{
    height: 200px;
    padding: 0px 15px;
    margin-bottom: -120px ;
    transition: all ease 1s;
}