.service-section{
    height:auto;
    /* padding-left:40px; */
    padding-top:50px;
    display:flex;
    flex-direction:column;
    gap:80px;
    padding-Bottom:20px;
    background-color: white;
}

.service-section .service-section-wrapper{
    background-image: url('../assets/images/our-service-bg.png');
}