.testimonial-section{
    background-color: #1e81b0;
    height: auto;
    padding: 50px 0px;
  
}

.testimonial-container{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 60%;
    padding: 20px 0px;
}

.testimonial-container .testimonial{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.testimonial-heading{
    color: #ffffff;
    font-family: "Be Vietnam", Sans-serif;
    font-size: 20px;
}





@media(max-width: 360px){
    .testimonial-section {
        padding-left: 14px;
    }

    .testimonial-heading{
        font-size:18px;
    }

    .testimonial-container {
        width: 330px;
    }
}


@media(max-width: 430px){

    /* .testimonial-section {
        padding-left: 14px;
    } */

    .testimonial-heading{
        font-size:18px;
    }

    .testimonial-container {
        width: 330px;
    }
}