.why-choose-us{

}

.why-choose-us-section .why-choose-us-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0px 50px;
}


.why-choose-us-section .why-choose-us-wrapper .reasons{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.why-choose-us-section .why-choose-us-wrapper .reasons .reason{
    width: calc(33.33% - 20px);
    border:  solid  1px rgb(189, 189, 189);
    display: flex;
    flex-direction: column;
    
}